@model WebRadioApp.Models.radiostations

@{
    ViewBag.Title = "Details";
}

<h2>Details of @Html.DisplayFor(model => model.name)</h2>

<div>
     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_date)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
